<header class="bg-quaternary text-white message-president">
    <div class="row">
        <div class="col-sm-12 col-lg-3 position-relative">
            <img src="{{ site.data.configuration.logo_white | relative_url }}" alt="logo" width="185" />
        </div>
        <div class="col-sm-12 col-lg-9">
            <div class="">
                <p class="fs-30 text-white text-bold d-inline-block position-relative text-uppercase text-right edito-title">
                    {{ site.data.configuration.edito.introduction.title_html }}
                    <img id="ligne-rouge" src="{{ "assets/img/ligne-rouge.png" | relative_url }}" alt="logo"/>
                </p>
            </div>
            <p id="mobilise" class="text-left fs-20 text-bold d-inline-block">{{ site.data.configuration.edito.introduction.introduction_html }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <p class="mt-4 click-to-expand">
                {{ site.data.configuration.edito.introduction.contenu_html}}
            </p>
        </div>
    </div>
    <div class="text-center">
        <img class="arrow-down" src="{{ "assets/img/arrow-down.png" | relative_url }}" alt="fleche vers le bas"/>
    </div>
</header>
