<aside class="right-menu d-flex flex-column no-gutters">
  <div class="p-2 no-gutters">
    <img class="logo mx-auto d-none" src="{{ site.data.configuration.logo_image | relative_url }}" alt="logo"/>
  </div>
  <div class="p-2 no-gutters mt-5">
    <p class="ensemble text-center">
      <span class="text-quaternary title">{{ site.data.configuration.sidebar.title }}</span>
      <br>
      <small class="text-quaternary">{{ site.data.configuration.sidebar.subtitle }}</small>
    </p>
  </div>

  {% if site.data.configuration.sidebar.gift_grid.once.activate %}
  {% if site.data.configuration.sidebar.gift_grid.once.text %}
  <div class="p-2 no-gutters">
    <p class="ensemble text-center">
      <span class="text-bold text-uppercase text-primary fs-20">{{ site.data.configuration.sidebar.gift_grid.once.texte }}</span>
    </p>
  </div>
  {% endif %}
  <div class="row p-2 no-gutters">
    <div class="col p-1">
      <a class="btn btn-quaternary w-100 text-bold pt-2 pb-2 fs-20 rounded-lg" href="{{ site.data.configuration.sidebar.gift_grid.once.gift_url }}&amount={{ site.data.configuration.sidebar.gift_grid.once.amount1_number }}00" role="button">{{ site.data.configuration.sidebar.gift_grid.once.amount1_number }}€</a>
    </div>
    <div class="col p-1">
      <a class="btn btn-outline-quaternary w-100 text-bold pt-2 pb-2 fs-20 rounded-lg" href="{{ site.data.configuration.sidebar.gift_grid.once.gift_url }}&amount={{ site.data.configuration.sidebar.gift_grid.once.amount2_number }}00" role="button">{{ site.data.configuration.sidebar.gift_grid.once.amount2_number }}€</a>
    </div>
    <div class="col p-1">
      <a class="btn btn-outline-quaternary w-100 text-bold pt-2 pb-2 fs-20 rounded-lg" href="{{ site.data.configuration.sidebar.gift_grid.once.gift_url }}&amount={{ site.data.configuration.sidebar.gift_grid.once.amount3_number }}00" role="button">{{ site.data.configuration.sidebar.gift_grid.once.amount3_number }}€</a>
    </div>
  </div>
  <div class="p-2 no-gutters">
    <form class="form-inline form-donate" method='GET' action="{{ site.data.configuration.sidebar.gift_grid.once.gift_url }}&amount=10000">
      <label class="sr-only" for="inlineFormInputName2">Name</label>
      <div class="position-relative w-100">
        <img src="{{ '/assets/img/euro.png' | relative_url }}" class="input-icon"/>
        <input type="text" class="w-100 form-control mb-3 border-0 fs-18 form-amount" id="inlineFormInputName2" placeholder="Montant de mon choix">
      </div>
      <button type="submit" class="btn btn-primary mb-2 w-100 text-bold text-uppercase pb-3 pt-3 rounded-lg fs-20">Je donne <span class="btn-don-value">100</span>€</button>
    </form>
  </div>
  {% endif %}

  {% if site.data.configuration.sidebar.gift_grid.regular.activate %}
  <div class="p-2 no-gutters">
    <p class="ensemble text-center">
      <span class="text-bold text-uppercase text-primary">{{ site.data.configuration.sidebar.gift_grid.regular.texte }}</span>
    </p>
  </div>
  <div class="row p-2 no-gutters">
    <div class="col p-1">
      <a class="btn btn-outline-primary w-100" href="{{ site.data.configuration.sidebar.gift_grid.regular.gift_url }}&amount={{ site.data.configuration.sidebar.gift_grid.regular.amount1_number }}00" role="button">{{ site.data.configuration.sidebar.gift_grid.regular.amount1_number }}€</a>
    </div>
    <div class="col p-1">
      <a class="btn btn-primary w-100" href="{{ site.data.configuration.sidebar.gift_grid.regular.gift_url }}&amount={{ site.data.configuration.sidebar.gift_grid.regular.amount2_number }}00" role="button">{{ site.data.configuration.sidebar.gift_grid.regular.amount2_number }}€</a>
    </div>
    <div class="col p-1">
      <a class="btn btn-outline-primary w-100" href="{{ site.data.configuration.sidebar.gift_grid.regular.gift_url }}&amount={{ site.data.configuration.sidebar.gift_grid.regular.amount3_number }}00" role="button">{{ site.data.configuration.sidebar.gift_grid.regular.amount3_number }}€</a>
    </div>
  </div>
  <div class="p-2 no-gutters">
    <form class="form-inline form-donate" target="{{ site.data.configuration.sidebar.gift_grid.regular.gift_url }}&amount=10000">
      <label class="sr-only" for="inlineFormInputName2">Name</label>
      <input type="text" class="w-75 form-control mb-2 form-amount" id="inlineFormInputName2" placeholder="Montant de mon choix">
      <button type="submit" class="w-25 btn btn-outline-primary mb-2 btn-don-value">ok</button>
    </form>
  </div>
  {% endif %}

  <div class="p-2 no-gutters">
    <p class="remise">{{ site.data.configuration.sidebar.defiscalisation}}</p>
    <p class="text-primary fs-20 text-center mt-5">Notre priorité, maintenir notre action auprès des personnes âgées isolées.</p>
  </div>
  <div class="d-flex align-items-center mb-auto mt-auto no-gutters justify-content-space-between pl-2 pr-2">
    <a href="#" class="text-quaternary text-uppercase text-bold small ml-auto mr-auto" data-toggle="modal" data-target="#cgu">{{ site.data.configuration.popup.cgu.titre }}</a>
    <a href="#" class="text-quaternary text-uppercase text-bold small ml-auto mr-auto" data-toggle="modal" data-target="#privacy">{{ site.data.configuration.popup.privacy.titre }}</a>
  </div>
</aside>
